@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Inter, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "EditorialNew";
  src: url("/EditorialNew.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Degular";
  src: url("/degular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EditorialNewLight";
  src: url("/EditorialNewLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 85%;
    --foreground: 0 0% 10%;
    --primary: 0 0% 80%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 70%;
    --secondary-foreground: 0 0% 10%;
    --accent: 240 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 32%;
    --destructive-foreground: 0 0% 98%;
    --muted: 0 0% 75%;
    --muted-foreground: 0 0% 10%;
    --card: 0 0% 95%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --border: 0 0% 60%;
    --input: 0 0% 60%;
    --ring: 0 0% 10%;
    --chart-1: 359.92 100% 72.933%;
    --chart-2: 206.3 100% 71.789%;
    --chart-3: 30.922 100% 72.137%;
    --chart-4: 223.06 27.116% 49.612%;
    --chart-5: 121.15 50.986% 69.626%;
    --chart-6: 270.4 56.126% 68.387%;
    --radius: 0rem;
  }
}
